*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.carousel-container{
    width: 800px;
    margin: auto;
    overflow: hidden;
    margin: 35px;
}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 533px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    background-color: #9bf6ff;
}
.przyciski{
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    position: absolute;
    
}

#nextBtn, #prevBtn{
    font-size: 25px;
    margin: 5px;
    background-color: #bdb2ff;
}

.text{
    font-family: 'Poppins', sans-serif;
}